@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 253, 195, 89;
    --color-secondary: 69, 70, 146;
  }

  body {
    font-family: "Roboto", "sans-serif";
  }

  html,
  body {
    @apply relative h-screen scrollbar-thin scrollbar-thumb-primary scrollbar-track-white;
  }
}

@layer utilities {
  .res-image {
    @apply object-cover object-center h-full max-w-full max-h-full;
  }
  .scroll0 {
    @apply scroll-m-1;
  }
}

/* Change muliselection */
.multiselect__option--highlight {
  @apply !bg-secondary;
}
.multiselect__option--selected.multiselect__option--highlight {
  @apply !bg-secondary;
}
