@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 196, 209, 11;
    --color-primary-darken: 196, 102, 6;
  }

  body {
    font-family: "Roboto", "sans-serif";
  }
}

/* Reset */
input {
  all: unset;
}
